:global(*) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainContent {
  max-width: 1400px;
  margin: 0 auto;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (max-width: 640px) {
  .mainContent {
    padding: 24px 16px;
    gap: 24px;
  }
}
