.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.codeWrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.snapshotWrapper{
  width: 100%;
  height: 100%;
  display: flex;

}

.panelContent {
  height: 100%;
  width: 100%;
  display: flex; 
  flex-direction: column; 
  border: 1px solid var(--color-border-light);
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;    
}

.codeContainer {
  flex: 1; 
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

.renderContainer{
  display:flex;
  flex-direction:column;
}

.consoleContainer{
  width:100%;
  heigth:100%;
  border: 1px solid var(--color-border-light);
}