/* PAGE WRAPPER */
.app {
  background-color: --bg-color-main;
  min-height: 100vh;
}

/* PAGE CONTENT AREA */
.mainContent {
  max-width: 1400px;
  margin: 0 auto;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
