.result {
  height: 20%;
  display: flex;
  flex-direction: column;
  background: var(--color-bg-secondary);
  border-top: 1px solid var(--color-border-light);
}

.resultHeader {
  height: 100%;
  padding: 0 var(--spacing-4);
  display: flex;
  align-items: center;
  background: var(--color-bg-tertiary);
  border-bottom: 1px solid var(--color-border-light);
}

.title {
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
}

.resultBody {
  flex: 1;
  padding: var(--spacing-3);
  overflow-y: auto;
}

.output {
  margin: 0;
  font-family: var(--font-family-code);
  font-size: var(--font-size-sm);
  color: var(--color-text-primary);
  white-space: pre-wrap;
}
