.header {
  width: 100%;
  height: 56px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3등분 */
  align-items: center;

  background-color: --bg-color-sub;
  color: --text-color-primary;
  padding: 0 20px;

  border-bottom: 1px solid #333;
}

.left {
  display: flex;
  align-items: center;
}

.brand {
  font-size: 24px;
  font-weight: 600;
  color: --text-color-primary;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: --text-color-primary;
  text-align: center;
  white-space: nowrap;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
